# Introduccion a Pandas

In [4]:
import pandas as pd

In [2]:
pd.__version__

'1.4.1'

In [3]:
# instalacion de libreria
!pip install pandas

Requirement already satisfied: pandas in c:\users\gon_2\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\gon_2\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

http://pandas.pydata.org/

Pandas es la extensión logica de numpy al mundo del Análisis de datos. 

De forma muy general, Pandas extrae la figura del Dataframe conocida por aquellos que usan R a python.

Un pandas dataframe es una tabla, lo que es una hoja de excel, con filas y columnas.

En pandas cada columna es una Serie que esta definida con un numpy array por debajo.

### Qué puede hacer pandas por ti?

- Cargar datos de diferentes recursos
- Búsqueda de una fila o columna en particular
- Realización de calculos estadísticos
- Processamiento de datos
- Combinar datos de múltiples recursos

# 1. Creación y Carga de Datos
---------------------------------

`Pandas` puede leer archivos de muchos tipos, csv, json, excel entre otros

Para esta seccion aprenderemos a crear un Dataframe de 0 y a leer archivos de diferentes fuentes de información.

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

### 1.1 Creación de dataframes

A partir de datos almacenados en diccionarios o listas es posible crear dataframes

`pd.Dataframe()`

In [10]:
import pandas as pd # pd -> alias por convención
dicx = {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }

# df -> es un Dataframe
df = pd.DataFrame(dicx)

In [12]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [13]:
# creación de 'df' a partir de un diccionario 
dicx= {
    "nombre": ["Rick", "Morty"],
    "apellido": ["Sanchez", "Smith"],
    "edad": [60, 14]
    }
df_rick_morty = pd.DataFrame(dicx)

# mostrando data
df_rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [15]:
# creacion de df a partir de una lista
lista = [
            ["Rick", "Sanchez", 60],
            ["Morty", "Smith", 14]
        ]

# nombre de columnas
columnas= ["nombre", "apellido", "edad"]
df_rick_morty = pd.DataFrame(lista, columns = columnas)
df_rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [16]:
# tipo de dato de dataframe 
type(df_rick_morty)

pandas.core.frame.DataFrame

### 1.2 Carga de datos a partir de fuentes de información

Pandas soporta múltiples fuentes de información entre los que estan csv , sql, json,excel, etc

Para leer un archivo siempre iniciamos con : `pd.read_`

In [29]:
## Leyendo data de un "csv"
import pandas as pd
# mostrar todas las filas del df
# https://www.geeksforgeeks.org/how-to-display-all-rows-from-dataframe-using-pandas/#:~:text=A%20function%20set_option()%20is,value%20of%20max_rows%20is%2010.
pd.set_option('display.max_rows', None) 

# csv(<ruta archivo>, sep=<separador datos>)
df = pd.read_csv('./src/input/primary_results.csv',sep=',')

In [30]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [31]:
## Leyendo data de un archivo "excel"

path_ = "./src/input/fallecidos_covid.xlsx"
df_excel = pd.read_excel(path_, sheet_name='fallecidos_covid')

In [32]:
# head() -> me muestra los 5 primeros registros de mi df
df_excel.head(2)

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO
0,20210811,8ff6ea53-1467-456b-92ef-4e001ff8a2d6,20210725,65,MASCULINO,Criterio virolÃ³gico,AREQUIPA,ISLAY,PUNTA DE BOMBON,40706.0
1,20210811,71be5780-1e0d-4092-9036-af6d408d66e5,20210618,37,MASCULINO,Criterio SINADEF,PUNO,SAN ROMAN,JULIACA,211101.0

# 2. Exploración de la Data
-----------------------------

La exploración de datos es la etapa donde obtenemos informacion sobre la data cargada, información como: cantidad de registros, visualizar registros de la data, cantidad de columnas, tipos de datos de las columnas, nombre de columnas, etc

In [35]:
# csv(<ruta archivo>, sep=<separador datos>)
df = pd.read_csv('./src/input/primary_results.csv',sep=',')

`shape` nos devuelve el número de filas y columnas

In [36]:
df.shape

(24611, 8)

`head` retorna los primertos 5 resultados contenidos en el dataframe (df)

In [38]:
# head retorna los primeros 5 resultados del dataframe
df.head(10)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
5,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567,0.906
6,Alabama,AL,Bibb,1007.0,Democrat,Bernie Sanders,246,0.197
7,Alabama,AL,Bibb,1007.0,Democrat,Hillary Clinton,942,0.755
8,Alabama,AL,Blount,1009.0,Democrat,Bernie Sanders,395,0.386
9,Alabama,AL,Blount,1009.0,Democrat,Hillary Clinton,564,0.551

`tail` retorna los 5 últimos resultados contenidos en el dataframe (df)

In [41]:
# tail -> retorna los últimos 5 resultados del df
df.tail()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

`dtypes` nos indica el tipo de dato para cada una de las columnas del df

In [42]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

`columns` nos indica las columnas que conforman el df

In [43]:
df.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

`describe` nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc de los datos de las columnas posibles

In [44]:
# Describe -> nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc 
# de los datos de las columnas posibles
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

# 3. Seleccionando Filas y columnas 
----------------------------

### 3.1 Seleccion de Columnas

In [45]:
df.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

In [46]:
for c in df.columns:
    print(c)

state
state_abbreviation
county
fips
party
candidate
votes
fraction_votes

Seleccionamos una columna mediante '[]' como si el dataframe fuese un diccionario

In [48]:
# Seleccion de una única columna
df['candidate'].head()

0     Bernie Sanders
1    Hillary Clinton
2     Bernie Sanders
3    Hillary Clinton
4     Bernie Sanders
Name: candidate, dtype: object

In [49]:
# tambien es posible la seleccion de este modo
df.candidate.head()

0     Bernie Sanders
1    Hillary Clinton
2     Bernie Sanders
3    Hillary Clinton
4     Bernie Sanders
Name: candidate, dtype: object

In [50]:
# Seleccion de más de una columna
columns_select = ['state','state_abbreviation'] # colocamos en una lista las columnas que deseamos
df[columns_select].head()

     state state_abbreviation
0  Alabama                 AL
1  Alabama                 AL
2  Alabama                 AL
3  Alabama                 AL
4  Alabama                 AL

In [53]:
df["state"][10:20:2]

10    Alabama
12    Alabama
14    Alabama
16    Alabama
18    Alabama
Name: state, dtype: object

### 3.2 Seleccion de Filas

In [54]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

La columna a la izquierda del state es el index. Un dataframe tiene que tener un index, que es la manera de organizar los datos.

In [55]:
# nos indica el punto de inicio y fin del indice para el df
df.index

RangeIndex(start=0, stop=24611, step=1)

podemos seleccionar una fila mediante su index.

In [56]:
df.loc[0]

state                        Alabama
state_abbreviation                AL
county                       Autauga
fips                          1001.0
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: 0, dtype: object

**Importante:** 

df.loc selecciona por indice, no por posición. Podemos cambiar el indice a cualquier otra cosa, otra columna o una lista separada, siempre que el nuevo indice tenga la misma longitud que el Dataframe

In [57]:
df2 = df.set_index("county").copy()

In [58]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [59]:
df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

Esto va a fallar por que df2 no tiene un indice numérico.

In [60]:
df2.loc[0] # loc -> dado que el indice 0 ya no existe

KeyError: 0

Ahora podemos seleccionar por condado

In [61]:
df2.loc["Teton-Sublette"] # seleccionamos filas cuyo indice sea 'Teton-Sublette'

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Donald Trump,21,0.525
Teton-Sublette,Wyoming,WY,95600028.0,Republican,John Kasich,0,0.000
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Marco Rubio,19,0.475
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Ted Cruz,0,0.000

Si queremos seleccionar por el numero de fila independientemente del índice, podemos usar `iloc`

In [62]:
df2.iloc[100]

state                        Alabama
state_abbreviation                AL
fips                          1101.0
party                       Democrat
candidate             Bernie Sanders
votes                           4266
fraction_votes                 0.128
Name: Montgomery, dtype: object

In [63]:
df2.iloc[20:25]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Chilton,Alabama,AL,1021.0,Democrat,Bernie Sanders,289,0.246
Chilton,Alabama,AL,1021.0,Democrat,Hillary Clinton,860,0.731
Choctaw,Alabama,AL,1023.0,Democrat,Bernie Sanders,273,0.124
Choctaw,Alabama,AL,1023.0,Democrat,Hillary Clinton,1772,0.802
Clarke,Alabama,AL,1025.0,Democrat,Bernie Sanders,213,0.063

In [64]:
# volviendo el indice a su valor inicial
df2.reset_index(drop=True, inplace=True) # inplace -> se encarga de efectuar el cambio sobre el df

In [65]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

# 4. Filtrado de Información
------------------------------

Podemos filtrar un dataframe mediante condiciones booleanas sobre columnas

In [67]:
# condicion -> se encarga de establecer la condicion de Verdad o Falsedad 
condicion = df['votes']>=590502
condicion.head()

0    False
1    False
2    False
3    False
4    False
Name: votes, dtype: bool

In [68]:
# usando la condicion como filtro
df[condicion]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

podemos concatenar varias condiciones usando `&` para **AND** ,  `|` para **OR** y `~` como **NOT** o negacion.

Tambien debemos recordar los operadores: `==` , `!=` , `>`, `<` , `>=` , `<=`

In [69]:
df[(df.county=="Manhattan") & (df.party=="Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

Para ver más formas de filtrado [ver](https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9)

# 5. Procesadamiento de Datos
------------------------------

In [70]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800

podemos usar `sort_values` para orderar el dataframe acorde al valor de una columna o múltiples columnas

In [71]:
df_sorted = df.sort_values(by=["votes","county"], ascending=[True, False])
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
20884,Texas,TX,Zavala,48507.0,Republican,Ben Carson,0,0.0
20885,Texas,TX,Zavala,48507.0,Republican,Donald Trump,0,0.0
20886,Texas,TX,Zavala,48507.0,Republican,John Kasich,0,0.0
20887,Texas,TX,Zavala,48507.0,Republican,Marco Rubio,0,0.0
20888,Texas,TX,Zavala,48507.0,Republican,Ted Cruz,0,0.0

utilizaremos `groupby` para realizar agrupamientos de informacion sobre una columnas

In [72]:
df.groupby(["state", "party"])

El agrupamiento de datos implica utilizar funciones de agregacion como: `count`, `sum`, `mean`, `min`, `max` a una columna del df

In [73]:
df.groupby(["state", "party"])["votes"].sum()

state           party
Alabama         Democrat       386327
                Republican     837632
Alaska          Democrat          539
                Republican      21930
Arizona         Democrat       399097
                Republican     435103
Arkansas        Democrat       209448
                Republican     396523
California      Democrat      3442623
                Republican    1495574
Colorado        Democrat       121184
Connecticut     Democrat       322485
                Republican     208817
Delaware        Democrat        92609
                Republican      67807
Florida         Democrat      1664003
                Republican    2276926
Georgia         Democrat       757340
                Republican    1275601
Hawaii          Democrat        33658
                Republican      13228
Idaho           Democrat        23705
                Republican     215284
Illinois        Democrat      1987834
                Republican    1384703
Indiana         Democrat       638638
                Republican    1080653
Iowa            Democrat       139980
                Republican     186724
Kansas          Democrat        39043
                Republican      72253
Kentucky        Democrat       423176
                Republican     225709
Louisiana       Democrat       293855
                Republican     291926
Maine           Democrat         3415
Maryland        Democrat       814522
                Republican     418750
Massachusetts   Democrat      1198652
                Republican     614668
Michigan        Democrat      1172017
                Republican    1259094
Mississippi     Democrat       218795
                Republican     395405
Missouri        Democrat       619673
                Republican     911999
Montana         Democrat       118362
                Republican     139154
Nebraska        Democrat        33460
                Republican     180231
Nevada          Democrat        11937
                Republican      74878
New Hampshire   Democrat       246836
                Republican     279130
New Jersey      Democrat       877496
                Republican     443724
New Mexico      Democrat       214307
                Republican      95225
New York        Democrat      1817552
                Republican     868987
North Carolina  Democrat      1076699
                Republican    1109048
North Dakota    Democrat          354
Ohio            Democrat      1192815
                Republican    2011357
Oklahoma        Democrat       313392
                Republican     452731
Oregon          Democrat       572485
                Republican     361490
Pennsylvania    Democrat      1638644
                Republican    1537696
Rhode Island    Democrat       119213
                Republican      60381
South Carolina  Democrat       367491
                Republican     737917
South Dakota    Democrat        53004
                Republican      66877
Tennessee       Democrat       365637
                Republican     834939
Texas           Democrat      1410641
                Republican    2737248
Utah            Democrat        76999
                Republican     177204
Vermont         Democrat       134198
                Republican      58762
Virginia        Democrat       778865
                Republican    1012807
Washington      Democrat        26299
                Republican     510851
West Virginia   Democrat       210214
                Republican     188138
Wisconsin       Democrat      1000703
                Republican    1072699
Wyoming         Democrat          280
                Republican        903
Name: votes, dtype: int64

Es posible añadir una nueva columna al df utilizando un valor en especifico

In [76]:
# creo una columna 'nueva_columna' con el valor de 1 
df['nueva_columna'] = 1
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,etiqueta_votos
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Menor
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Mayor
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,Mayor
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1,Mayor
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1,Menor

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [50]:
# creo una nueva columna a partir de los datos de otra
df['letra_inicial'] = df.state_abbreviation.apply(lambda s: s[0])  # obtengo primera letra de state_abbreviation

In [77]:
def get_label(fraction:float):
    
    if fraction>0.2:
        return "Mayor"
    else:
        return "Menor"

In [85]:
df['etiqueta_votos'] = df.fraction_votes.apply(get_label)

In [86]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,etiqueta_votos
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Menor
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Mayor
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,Mayor
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1,Mayor
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1,Menor

In [52]:
df.groupby("letra_inicial")["votes"].sum().sort_values()

letra_inicial
H      46886
D     160416
R     179594
U     254203
L     585781
K     760181
S    1225289
V    1984632
G    2032941
A    2686599
W    3010087
P    3176340
F    3940929
O    4904270
T    5348465
C    5590683
I    5657521
N    7329864
M    7884506
Name: votes, dtype: int64

Podemos unir dos dataframes en funcion de sus columnas comunes usando `merge`

La operacion merge implica combinar 2 df a partir de uno o más valores llave o `key`

<img src='./img/merge.png'>

In [87]:
# Descargamos datos de pobreza por condado en US en https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/
df_pobreza = pd.read_csv("./src/input/PovertyEstimates.csv")

In [88]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [89]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,etiqueta_votos
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Menor
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Mayor

In [90]:
# Combinando ambas fuentes de datos en un único dataframe a partir de los valores llave
df = df.merge(df_pobreza, left_on="fips", right_on="FIPStxt")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,etiqueta_votos,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Menor,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Mayor,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,Menor,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,Mayor,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,Menor,1001,12.7

Como punto general existen diferentes formas de combinar los dataframe, siendo el método `inner` el utilizado por defecto

<img src='./img/merge_tipos.png'>

Como punto final aplicamos un agrupamiento aplicando múltiples funciones de agregacion al df

In [58]:
county_votes = df.groupby(["county","party"]).agg({
    "fraction_votes":"mean",
    "PCTPOVALL_2015": "mean"   
   }
)

In [59]:
county_votes

                      fraction_votes  PCTPOVALL_2015
county    party
Abbeville Democrat          0.494000            19.1
          Republican        0.166667            19.1
Acadia    Democrat          0.425500            23.7
          Republican        0.241750            23.7
Accomack  Democrat          0.497000            20.4
...                              ...             ...
Zapata    Republican        0.188400            30.9
Zavala    Democrat          0.468000            32.0
          Republican        0.000000            32.0
Ziebach   Democrat          0.500000            47.1
          Republican        0.333333            47.1

[3267 rows x 2 columns]

# 6. Exportación de datos
----------------------------------

`Pandas` viene equipado con una amplia gama de opciones para la exportación de información.

podemos escribir a excel, necesitamos instalar el paquete `xlwt`

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [91]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,etiqueta_votos,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Menor,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Mayor,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,Menor,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,Mayor,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,Menor,1001,12.7

In [93]:
## Expotanción con "encoding" e "index False"

df.to_excel('./src/output/data_partidos.xlsx',
            sheet_name='data',encoding='utf-8',index=False)

In [94]:
## Exportando a csv
path = './src/output/data_partidos.csv'
df_excel.to_csv(path, sep='|' ,index=False)

In [ ]:
## Exportamos archivo a html

with open('./out/data.html',mode='w') as f:
    f.write(df.to_html())

In [ ]:
df.to_csv('./out/data_partidos.csv',sep='|',encoding='utf-8',index=False)

# Ejercicios
---------------------------------------------

1. A partir de la data recien generada "data_partidos.xlsx", debemos generar un archivo que contenda unicamente la información contenida por cada uno de los estados.

In [97]:
## Exportando df a excel
df_excel = pd.read_excel('./src/output/data_partidos.xlsx',sheet_name='data')

In [98]:
df_excel.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,etiqueta_votos,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,1,Menor,1001,12.7
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,1,Mayor,1001,12.7

In [105]:
estados = df_excel.state.unique()
estados

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kentucky', 'Louisiana', 'Maryland', 'Michigan',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [107]:
import os

In [108]:
# generar un excel para cada uno de los estados, donde la información corresponda a dicho estado.
if not os.path.isdir('./src/output/reportes'):
    os.mkdir('./src/output/reportes')

for estado in estados:
    # filtrar el df
    
    df_filter = df_excel[df_excel['state'] == estado]
    
    # guardar el archivo
    folder = './src/output/reportes/{archivo}.xlsx'
    archivo_name = estado.lower().replace(' ', '')
    
    df_filter.to_excel( folder.format(archivo=archivo_name) ,sheet_name=archivo_name, index=False)
    pass

print('Done!!')

Done!!

In [109]:
# 2. Conectandome a SQL

# server_name
# base_datos
# user, password

In [110]:
!pip install pyodbc --upgrade

Requirement already satisfied: pyodbc in c:\users\gon_2\anaconda3\lib\site-packages (4.0.32)
Collecting pyodbc
  Downloading pyodbc-4.0.34-cp38-cp38-win_amd64.whl (75 kB)
Installing collected packages: pyodbc
  Attempting uninstall: pyodbc
    Found existing installation: pyodbc 4.0.32
    Uninstalling pyodbc-4.0.32:
      Successfully uninstalled pyodbc-4.0.32
Successfully installed pyodbc-4.0.34

In [112]:
import pandas as pd
import pyodbc as podbc


def conexion_sql_server(driver,server,database,username=None,password=None):
    print("realizando conexion SQL")
    # cnxn = pyodbc.connect(r'Driver=SQL Server;Server=.\SQLEXPRESS;Database=myDB;Trusted_Connection=yes;')
    connection = podbc.connect('DRIVER='+driver+     # programa que permite el enlace con el computador 
                                ';SERVER='+server+   # computar o dirección ip de la computadora
                                ';DATABASE='+database+  # colección de tablas
                                ';Trusted_Connection=yes'
                                # ';UID='+username+     # login 
                                # ';PWD='+ password
                              )    #
    print("exito!!")
    return connection

def select_to_df(sql_query,connection):
    #conectando a la base de datos
    try:
        #pasanod info a df
        df = pd.read_sql(sql_query, connection)
    except Exception as e:
        print(e)
    
    #cerrando conexion
    connection.close()
    return df

In [132]:
conn = conexion_sql_server('{SQL Server Native Client 11.0}', 'DESKTOP-04UEK3O', 'AdventureWorks2019')

realizando conexion SQL
exito!!

In [114]:

query = 'select * from AdventureWorks2019.Person.Person'
df_sql = select_to_df(query, conn)

C:\Users\gon_2\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [115]:
df_sql.head()

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30

In [119]:
df_process = df_sql[df_sql.PersonType == 'EM']

In [120]:
df_process.head(2)

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24

In [121]:
df_process.shape

(273, 13)

In [152]:
# escribiendo con pyodbc
conn = conexion_sql_server('{SQL Server Native Client 11.0}', 'DESKTOP-04UEK3O', 'AdventureWorks2019')
cursor=conn.cursor()

# creating column list for insertion
cols = ",".join([str(i) for i in df_process.columns.tolist()])

realizando conexion SQL
exito!!

In [143]:
cols

'BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate'

In [153]:
x = ",".join(['?' for i in df_process.columns] )
# Insert DataFrame recrds one by one.
for index, row in df_process.iterrows():
     cursor.execute(f"INSERT INTO Person.Person_pandas ({cols}) values({x})",tuple(row))
conn.commit() # confirmación de escritura

In [154]:
cursor.close() # cerrar conección con servidor